body {
    background: linear-gradient(rgb(205, 231, 241), rgb(225, 211, 228));
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

#main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 75vw;
    height: 90%;
    margin: 0;
    
    background-color: rgb(230, 230, 230);
    
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#main-div::-webkit-scrollbar {
    display: none;
}

#content-container {
    font-family: "Arial", sans-serif;
    font-size: 1.25em;
    line-height: 150%;
    padding-right: 20px;
}

#content-container ul ul {
    margin-left: 0px;
    padding-left: 24px;
}

.header-link:link {
    color: rgb(0, 81, 134);
    text-decoration: none;
}

.header-link:visited {
    color: rgb(0, 81, 134);
    text-decoration: none;
}

.header-link:hover {
    color: rgb(0, 81, 134);
    text-decoration: underline;
}

.header-link:active {
    color: rgb(0, 81, 134);
    text-decoration: underline;
}

.content-link:link {
    color: rgb(28, 153, 237);
    text-decoration: none;
}

.content-link:visited {
    color: rgb(28, 153, 237);
    text-decoration: none;
}

.content-link:hover {
    color: rgb(28, 153, 237);
    text-decoration: underline;
}

.content-link:active {
    color: rgb(28, 153, 237);
    text-decoration: underline;
}