body {
    background-image: url('antarctica.jpg');
    background-repeat: no-repeat;
    background-position: 50% 20%;
    overflow: hidden;
}

#main-div {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 600px;
    height: 90%;
    margin: 0;
    
    background-color: rgb(230, 230, 230);
    
    border: 1px solid rgb(180, 180, 180);
    border-radius: 6px;

    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#main-div::-webkit-scrollbar {
    display: none;
}

#content-container {
    font-family: "Arial", sans-serif;
    line-height: 150%;
}

#content-container ul ul {
    margin-left: 0px;
    padding-left: 24px;
}

.header-link:link {
    color: rgb(0, 81, 134);
    text-decoration: none;
}

.header-link:visited {
    color: rgb(0, 81, 134);
    text-decoration: none;
}

.header-link:hover {
    color: rgb(0, 81, 134);
    text-decoration: underline;
}

.header-link:active {
    color: rgb(0, 81, 134);
    text-decoration: underline;
}

.content-link:link {
    color: rgb(28, 153, 237);
    text-decoration: none;
}

.content-link:visited {
    color: rgb(28, 153, 237);
    text-decoration: none;
}

.content-link:hover {
    color: rgb(28, 153, 237);
    text-decoration: underline;
}

.content-link:active {
    color: rgb(28, 153, 237);
    text-decoration: underline;
}